<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="wrapper">
      <img src="../../assets/playing-card.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Match Cards
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto">
        <li id="inicio" routerLink="inicio" class="nav-item">
          <span class="nav-link active">Inicio <i class="fas fa-home"></i></span></li>
        <li id="preferences" routerLink="preferencias" class="nav-item">
          <span class="nav-link">Preferencias <i class="fas fa-cogs"></i></span></li>
        <li id="play" routerLink="jugar" class="nav-item">
          <span class="nav-link">Jugar <i class="fas fa-play"></i></span></li>
        <li id="records" routerLink="puntuaciones" class="nav-item">
          <span class="nav-link">Records <i class="fas fa-circle-notch"></i></span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right wrapper">
        <li id="register" routerLink="registro" class="nav-item">
          <span class="nav-link"><i class="fas fa-user"></i> Registro</span>
        </li>
        <li id="login" routerLink="login" class="nav-item">
          <span class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</span>
        </li>
      </ul>
    </div>
  </nav>
</header>
