<article class="jumbotron">
  <div class="container">
    <fieldset class="prefForm">
      <legend class="prefForm">Scores</legend>
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Usuario</th>
          <th scope="col">Ptos.</th>
          <th scope="col">Cartas</th>
          <th scope="col">Segs</th>
          <th scope="col">Fecha</th>
        </tr>
        </thead>
        <tbody id="tBodyScore">
          <tr *ngFor="let score of scores; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{score.username}}</td>
            <td>{{score.punctuation}}</td>
            <td>{{score.cards}}</td>
            <td>{{score.disposedTime}}</td>
            <td>{{score.recordDate | fromEpoch}}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</article>
