<article class="d-flex flex-direction-row">
  <div>
    <div class="infoPanel">
      <p>Puntuación</p>
      <p>{{scorePanel.score}}</p>
      <p>Tiempo</p>
      <p>{{scorePanel.time}}</p>
    </div>
    <div class="infoPanel">
      <p>Total</p>
      <p>{{scorePanel.totalScore}}</p>
      <button type="submit" class="btn btn-primary"
              (click)="saveScore()" [hidden]="scorePanel.saveHidden" [disabled]="savedScoreMessage || errorScoreMessage">Save</button>
    </div>
    <div *ngIf="savedScoreMessage" class="alert alert-success" role="alert">
      Puntuación guardada en la base de datos correctamente.
    </div>
    <div *ngIf="errorScoreMessage" class="alert alert-danger" role="alert">
      Error guardando la puntuación
    </div>
  </div>
  <div class="container cardContainer">
    <div id="cards_container" class="d-flex align-items-center flex-row flex-wrap">
      <ng-container *ngFor="let card of gameCards">
        <img [src]="card.src" class="rounded card" (click)="checkCards(card)">
      </ng-container>
    </div>
  </div>
</article>
