<article class="d-flex flex-direction-row">
  <div>
    <div class="infoPanel">
      <p>Puntuación</p>
      <p>{{score}}</p>
      <p>Tiempo</p>
      <p>{{time}}</p>
    </div>
    <div class="infoPanel">
      <p>Total</p>
      <p>{{totalScore}}</p>
    </div>
  </div>
  <div class="container cardContainer">
    <div id="cards_container" class="d-flex align-items-center flex-row flex-wrap">
      <ng-container *ngFor="let card of gameCards">
        <img [src]="card.src" class="rounded card" (click)="checkCards(card)">
      </ng-container>
    </div>
  </div>
</article>
