<article class="jumbotron">
  <div class="container">
    <form>
      <fieldset class="prefForm">
        <legend class="prefForm">Registro</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <mat-form-field appearance="fill">
              <mat-label>Introduzca un nombre de usuario</mat-label>
              <input matInput placeholder="Cuachifu" [formControl]="username" (focusout)="checkUsernameExists()" required>
              <mat-error *ngIf="username.invalid">Debe rellenar el nombre de usuario</mat-error>
            </mat-form-field>
            <div [hidden]="!usernameExists" class="alert alert-danger" role="alert">
              El nombre indicado ya existe en la base de datos
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <mat-form-field appearance="fill">
              <mat-label>Introduzca un email</mat-label>
              <input matInput placeholder="cuachifu@cuachifu.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <mat-form-field appearance="fill">
              <mat-label>Introduzca una contraseña</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" (focusout)="doesPasswordsMatch()">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Esconder contraseña'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.invalid">Debe rellenar la contraseña</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <mat-form-field appearance="fill">
              <mat-label>Introduzca de nuevo la contraseña</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="repeatPassword" (focusout)="doesPasswordsMatch()">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Esconder contraseña'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="repeatPassword.invalid">Debe rellenar este campo</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div [hidden]="passwordsMatch" class="alert alert-danger" role="alert">
          Las contraseñas deben coincidir
        </div>
        <button id="submitButton" type="submit" class="btn btn-primary" (click)="submitSignup($event)">Enviar</button>
        <div [hidden]="!signedUp" class="alert alert-success" role="alert">
          Usuario registrado correctamente.
        </div>
      </fieldset>
    </form>
  </div>
</article>
